<?xml version="1.0"?>
<launch>
	<param name ="/use_sim_time" value="true"/>
	
	<!-- Set params -->
	<arg name="rviz" default="true" />
	<arg name="gazebo" default="true" />

	<!-- Launch RViz -->
	<group if="$(arg rviz)">
		<node type="rviz" name="visual" pkg="rviz" args="-d $(find wamv_bringup)/rviz/sensors.rviz" />
	</group>

	<!-- Launch Gazebo -->
	<group if="$(arg gazebo)">
		<include file="$(find robotx_gazebo)/launch/sandisland.launch"> </include>
	</group>
	
</launch>