<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<node name="extract_cam_0" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
		<remap from="image" to="/ladybug_camera/camera0/image_raw/" />
		<param name="image_transport" value="compressed" />
		<param name="filename_format" value="camera_0_%04i.jpg" />
	</node>

	<node name="extract_cam_1" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
		<remap from="image" to="/ladybug_camera/camera1/image_raw/" />
		<param name="image_transport" value="compressed" />
		<param name="filename_format" value="camera_1_%04i.jpg" />
	</node>
	
	<node name="extract_cam_2" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
		<remap from="image" to="/ladybug_camera/camera2/image_raw/" />
		<param name="image_transport" value="compressed" />
		<param name="filename_format" value="camera_2_%04i.jpg" />
	</node>

	<node name="extract_cam_3" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
		<remap from="image" to="/ladybug_camera/camera3/image_raw/" />
		<param name="image_transport" value="compressed" />
		<param name="filename_format" value="camera_3_%04i.jpg" />
	</node>

	<node name="extract_cam_4" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
		<remap from="image" to="/ladybug_camera/camera4/image_raw/" />
		<param name="image_transport" value="compressed" />
		<param name="filename_format" value="camera_4_%04i.jpg" />
	</node>

	<node name="extract_cam_5" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
		<remap from="image" to="/ladybug_camera/camera5/image_raw/" />
		<param name="image_transport" value="compressed" />
		<param name="filename_format" value="camera_5_%04i.jpg" />
	</node>
</launch>