<?xml version="1.0"?>
<launch>
    <!-- launch robot transform publisher -->
    <param name="robot_description" textfile="$(find wamv_autonomy)/robot_description/wamv.urdf"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" clear_params="true"/>
    
    

    <!-- load localization parameters -->
    <rosparam command="load" file="$(find wamv_autonomy)/params/localization.yaml"/>

    <!-- launch navsat to odometry converter -->
    <node name="navsat_transform_node" pkg="robot_localization" type="navsat_transform_node" output="screen" required="true" clear_params="true">
          <remap from="odometry/gps" to="gps/odom"/>
          <remap from="imu/data" to="an_device/Imu"/>
          <remap from="gps/fix" to="an_device/NavSatFix"/>
	</node>
    <!-- launch localization node -->
    <node name="ukf_localization_node" pkg="robot_localization" type="ukf_localization_node" output="screen" required="true" clear_params="true"/>

    

    <!-- load costmap node -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find wamv_autonomy)/params/costmap_common.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find wamv_autonomy)/params/costmap_common.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find wamv_autonomy)/params/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find wamv_autonomy)/params/global_costmap_params.yaml" command="load"/>
        <remap from="odom" to="odometry/filtered"/>
    </node>


</launch>